img {
  width: 300px;
  height: 300px;
}
h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 25px;
  color: blue;
}

img,
h1:hover {
  box-shadow: 5px cadetblue;
  transform: rotate(200deg);
  transition-duration: 25s;
}
